.wrapper{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    box-sizing: border-box;
    height: 100vh;
}
.container{
    display: flex;
    flex-flow: column;
    max-width: 500px;
    padding: 1rem 2rem;
    // margin: 1rem 0;
    max-height: 80vh;
    overflow-y: scroll;
    flex: 0.8;
    z-index: 0;
}

.image{
    width: 100%;
    // overflow: hidden;
    height: 100%;
    flex: 0.2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
    
    img{
        width: 100vw;
        height: 100%;
        object-fit: cover;
    }
    .title{
        color: white;
        margin-top: auto;
    }
    z-index: 1;
}

.button{
    background-color: #8A8D56 !important;
    border-radius: 10px !important;
    padding: .8rem 5rem !important;
    font-weight: 900 !important;
    font-size: 1rem !important;
    margin: 1rem 0 !important;
}

.buy{
    /* padding: 5rem; */
}

.scrollcontainer{
    display: flex;
    flex-flow: row nowrap;
    overflow-x: scroll;
    max-width: 80vw;
    height: auto;
    margin: 1rem 0 0 0;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    &::-webkit-scrollbar {
        display: none;
    }
    box-sizing: border-box;
}

.scroll{
    margin: 1rem 0rem;
    background-color: white;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 0rem;
    .title{
        text-align: center;
        font-size: 1.25rem;
        font-weight: 900;
        // margin-bottom: 1rem;
        color:#585a37;
    }
}

.line{
    width: 90%;
    height: 1px;
    
    background-color: #585a37;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    // justify-self: center;
    // align-self: center;
}